*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

nav{
    background-color: #ccc;
    height: 50px;
}

  nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
nav ul li {
    display: inline-block;

}
nav ul li a{
    padding: 18px;
    
    
}
nav ul li a:hover{
    background-color: aliceblue;

}

nav .parent{
    position: relative;
   
}

nav .parent .dropdown{
    position: absolute;
    margin-top: 16px;
    background-color: blueviolet;
    width: 300px;
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
    
}



nav .dropdown li{
    width: 100%;
}
nav .dropdown li a{
    background-color: aquamarine;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

nav .parent:hover .dropdown{
    visibility: visible;
    opacity: 1; 
}
#test{
    background-color: red;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#test .container span{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    background-color:pink ;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    /* margin-bottom: 200px; */
    position: relative;
    z-index: 6;
    

    
}
@keyframes key {

0%{
    opacity: 0;
    transform: scale(1);
}
30%{
    opacity: 0.5;
}
100%{
    opacity: 1;
    transform: scale(1.8);
}
    
}
#test .container span::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: aqua;
    animation-name: key;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: -8;

}


#text{
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;

}
#text button{
    padding: 10px 30px;
    border: none;
    position: relative;
    
}
#text button::before{
    content: '';
    position: absolute;
    width: 10%;
    height: 10%;
    /* background-color: blue; */
    left: 0;
    bottom: 0;
    border-left: 5px solid red;
    border-bottom: 5px solid red;
    transition: 0.5s;
}
#text button:hover::before{
    width: 100%;
    height: 100%;

}
#text button::after{
    transition: 0.5s;
    content: '';
    position: absolute;
    width: 10%;
    height: 10%;
    /* background-color: blue; */
    right: 0;
    top: 0;
    border-right: 5px solid red;
    border-top: 5px solid red;
}
#text button:hover::after{
    width: 100%;
    height: 100%;

}


